<div class="container">

  <div class="row center-align">
    <h3>Project Planner</h3>
  </div>


  {{!-- List 1: Projects not started --}}
  <div class="row">

    <div class="col m6">

      <h5>Not Started</h5>

      <ul>
        {{#each projects}}
          {{#unless this.complete}}
            <li>
              {{this.project_name}}

              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="complete" value="true">
                <button class="btn waves-effect waves-light" type="submit">Done</button>
              </form>
            </li>
          {{/unless}}
        {{/each}}
      </ul>

    </div>

    {{!-- List 2: Projects complete --}}
    <div class="col m6">

      <h5>Complete</h5>

      <ul>
        {{#each projects}}
          {{#if this.complete}}
            <li>
              {{this.project_name}}
            </li>
          {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>

  {{!-- Create new project --}}
  <div class="row">

    <div class="col m12 center-align">

      <h4>Create New Project</h4>

      <form class="create-update-form" action="/" method="POST">

        <div class="form-group">
          <label for="project">Project Name:</label>
          <input type="text" id="project" name="project_name">
        </div>

        <button class="btn-large waves-effect waves-light" type="submit">Create</button>

      </form>

    </div>

  </div>

</div>
