{{!-- NAVBAR --}}
<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo center"><h2 id="logo-project" class="white-text">project<span id="logo-pro">pro</span></h2></a>
    </div>
  </div>
</nav>

{{!-- MAIN --}}
<main>
  {{!-- Row 1: Create new project --}}
  <div id="row1" class="row">
    <div class="container">
      <form class="create-update-form" action="/" method="POST">
        <div class="col m10">
          <div id="input" class="form-group">
            <input placeholder="Enter new project" type="text" id="project" name="project_name">
          </div>
        </div>
        <div class="col m2">
          <button id="create" class="btn-flat waves-effect waves-light yellow lighten-3 brown-text text-darken-1" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
  {{!-- Row 2 --}}
  <div id="row2" class="row">
    {{!-- List 1: Projects not started --}}
    <div class="container">
      <div class="col m6">
        <h5 class="center-align">IN PROGRESS</h5>
        <ul>
          {{#each projects}}
            {{#unless this.complete}}
              <li>
                {{this.project_name}}
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="complete" value="true">
                  <button class="btn waves-effect waves-light" type="submit">Done</button>
                </form>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
      {{!-- List 2: Projects complete --}}
      <div class="col m6">
        <h5 class="center-align">COMPLETE</h5>
        <ul>
          {{#each projects}}
            {{#if this.complete}}
              <li>
                {{this.project_name}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</main>
