<h1>Project Planner</h1>

{{!-- List 1: Projects not started --}}
<h2>Not Started</h2>

<ul>
  {{#each projects}}
    {{#unless this.complete}}
      <li>
        {{this.project_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="complete" value="true">
          <button type="submit">Done</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

{{!-- List 2: Projects complete --}}
<h2>Complete</h2>

<ul>
  {{#each projects}}
    {{#if this.complete}}
      <li>
        {{this.project_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

{{!-- Create new project --}}
<h2>Create New Project</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="project">Project Name:</label>
    <input type="text" id="project" name="project_name">
  </div>

  <button type="submit">Create</button>
</form>
